@charset "UTF-8";
/* reset */
*{margin: 0;padding: 0;list-style: none;font-family: "맑은 고딕";color: #666;font-style: normal;}
a{text-decoration: none;display: block;}
img{display: block;}
.hidden{display: none;}

/* wrap area------------------------------------------------------------- */
#wrap{width: 1000px;height: 1180px;margin: auto;}

/* header */
header{width: 100%; height: 180px;float: left;}

header h1{height: 100px; width: 300px; float: left; margin-top: 15px;}

/* nav area */
header nav{float: right; position: relative; z-index: 5; margin-top: 130px;}

/* 1차메뉴 */
header nav ul.gnb > li{float: left;}
header nav ul.gnb > li > a{color: #996699;font-size: 18px; padding: 10px 30px; font-weight: bold;width: 100px;text-align: center;}
header nav ul.gnb > li:hover > a{color: #cc9999;}

/* 2차메뉴 */
header nav ul.gnb > li > ul.sub{display: none;}
header nav ul.gnb > li:hover > ul.sub{display: block;}
header nav ul.gnb > li > ul.sub li a{background-color: rgba(255, 255, 255, 80%);padding: 20px 0;text-align: center;}
header nav ul.gnb > li > ul.sub li a:hover{text-decoration: underline;}

/* main slide area------------------------------------------------------------------------------- */
#main-slide{clear: both;width: 1000px;height: 350px;overflow: hidden;position: relative;}
#main-slide ul{width: 3000px;}
#main-slide ul li{float: left;}

#main-slide p{position: absolute; background-color: rgba(255, 255, 255, 50%);width: 300px;height: 40px;text-align: center;font-size: 20px;line-height: 40px; left: 0;right: 0; margin: auto;border-radius: 0 0 10px 10px;}

/* 공지사항, 파트너 공통 */
.sec-all{width: 500px; height: 270px;float: left;}
.sec-all h2{text-align: center;width: 480px; height: 30px; margin: 10px auto;color: #996699; border-bottom: 2px double #333;}
/* 공지사항 */
.notice table{width: 480px; height: 200px; margin: auto;border-spacing: 5px;font-size: 15px;}
.notice table tr th{background-color: #996699;color: white;padding: 5px 0;}
.notice table tr td{background-color: #f0d7d7;padding: 5px 0;text-indent: 10px;}
.notice table tr td a:hover{text-decoration: underline;}

/* partner */
.partner div.img-wrap{width: 480px;height: 205px;margin: auto;padding-top:50px; box-sizing: border-box;padding-left: 10px;}
.partner div.img-wrap a{width: 220px;float: left; margin-right: 10px;}
.partner div.img-wrap a img{width: 100%;}
.partner div.img-wrap a:first-child img{width: 111%;}

/*  아이콘 area----------------------------------------------------------------------------------------- */
#icon{width: 600px; height: 230px; margin: auto;clear: both;}
#icon ul li{float: left; width: 180px;}
#icon ul li:nth-child(2){margin: 0 30px;}
#icon ul li img{width: 100%;}
#icon ul li h3{width: 150px; height: 35px;background-color: #996699; margin: auto;border-radius: 10px;text-align: center;color: #fff;line-height: 35px;font-weight: normal;cursor: pointer;}

#icon ul li h3:hover{background-color: lightpink;transition: all 0.3s;}

/* footer------------------------------------------------------------------------------------------- */
footer{clear: both;width: 1000px;height: 150px;background: #996699;}

footer div{width: 500px; height: 150px; float: left;}

footer div.bottom-left nav{margin: 20px 0 0 100px;}
footer div.bottom-left nav ul li{float: left;}
footer div.bottom-left nav ul li:hover{text-decoration: underline;}
footer div.bottom-left nav ul li a{font-size: 14px;color: #fff;}
footer div.bottom-left nav ul li a::after{content: "|";padding: 0 10px;}
footer div.bottom-left nav ul li:last-child a::after{content: " ";}

footer div.bottom-right address{font-size: 14px;color: white;margin-top: 10px;}